<h1>Listing stores</h1>

<%= form_tag stores_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Store", :name => nil %>
<% end %>

<table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.category.title %></td>
    <td><%= store.name %></td>
    <td><%= store.address %></td>
    <td><%= store.latitude %></td>
    <td><%= store.longitude %></td>
    <td><%= store.gmaps %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_store_path %>
<%= gmaps4rails(@json) %>
